[user]
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIGxLD+5TCtT6eVy3M2B+bBTS11Mw07JTZitDSghmvQZ

[gpg]
  format = ssh

[gpg "ssh"]
  program = "C:/Users/nepti/AppData/Local/1Password/app/8/op-ssh-sign.exe"

[commit]
  gpgsign = true